<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="style.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
<div> 

<header>   
<h1>Alexander Fiodorov</h1>
<ul>
    <li><%= link_to "Home", home_path %></li>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Work", work_path %></li>
    <li><%= link_to "Contact", contact_path %></li>
</ul>      
</header>
    <h2>Resume</h2>
    <h3>Education</h3>
    <p>
        <b>University of Memphis</b><br>
        Bachelor of Science - Computer Science<br>
        August 2021 - May 2025<br>
        GPA: 3.25<br>
    </p>
    <hr>
	
    <h3>Work Experience</h3>
        <b>Web Developer</b><br>
        Memphis, TN<br>
        July 2019 - Present<br>
        <p>Built mock designs and wireframes for landing pages for 5 new
            product concepts.</p>
        <p>Created accessible, responsive, and functional user interfaces to
            allow visitors on any device to have the same perfect user
            experience.</p>
        <p>Created the user experience that fetched, parsed, and formatted
            analytic data, and relayed it into React components.</p>
        <p>Collaborated on Complexity Score tool, which removed process
            bottlenecks by assigning scores to cost, time, and compliance
            issues, increasing efficiency by 72%.</p>

    <hr>
    <h3>Skills</h3>
	<p><b>Technical:</b> Python (Django), Ruby (Rails, RSpec), HTML5, CSS, JavaScript (NodeJS), SQL, Git</p>
    <p><b>Additional:</b>  Attention to Detail, Flexibility, Problem Solving</p>
</main>

<footer>
<p> Copyright © 2024 Alexander Fiodorov.</p>    
</footer>

</div> 
</body>
</html>