<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link href="style.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
<div>

<header>   
<h1>Alexander Fiodorov</h1>
<ul>
    <li><%= link_to "Home", home_path %></li>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Work", work_path %></li>
    <li><%= link_to "Contact", contact_path %></li>
</ul>        
</header>

<main>
  <h2>Contact</h2>
<div class="container">
    <form action="action_page.php">
  
      <label for="name">Name</label>
      <input type="text" id="name" name="name" placeholder="Your name..">
  
      <label for="email">Email address</label>
      <input type="text" id="email" name="email" placeholder="Your email..">
  
      <label for="subject">Body</label>
      <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
  
      <input type="submit" value="Submit">
  
    </form>
</div>
</main>

<footer>
<p> Copyright © 2024 Alexander Fiodorov.</p>    
</footer>

</div> 
</body>
</html>