<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Work</title>
    <link href="style.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
<div> 
  
<header>   
<h1>Alexander Fiodorov</h1>
<ul>
    <li><%= link_to "Home", @home %></li>
    <li><%= link_to "About", @about %></li>
    <li><%= link_to "Work", @work %></li>
    <li><%= link_to "Contact", @contact %></li>
</ul>        
</header>

<main>
  <h2>Portfolio</h2>
  <div class="gallery">
    <div class="item">
      <img src="portfolio-pictures/munch.png" alt="Munch">
      <div class="overlay">
        <h3>Munch</h3>
        <p>Rails-powered recipe blogging platform</p>
      </div>
    </div>
    <div class="item">
      <img src="portfolio-pictures/7zArchiver.png" alt="7zArchiver">
      <div class="overlay">
        <h3>7zArchiver</h3>
        <p>Open source GUI 7z file archiver written in Python</p>
      </div>
    </div>
  </div>
</main>

<footer>
<p> Copyright © 2024 Alexander Fiodorov.</p>    
</footer>

</div> 
</body>
</html>
